<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
        <h1>CASHe</h1>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
         
          <ul class="nav navbar-nav">
            <li ><a routerLink="/customerValidation" routerLinkActive="active">Customer Validation</a></li>
           <li><a routerLink="/customerVerification" routerLinkActive="active">Customer Verification</a></li>
           
            
          </ul>
        </div>
      </nav>
      <router-outlet></router-outlet>
      </div>